:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background-color: #060315;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  position: relative;
}

.image-container{
  display: flex;
  flex-direction: column;
}

.bgImage {
  width: 100%;
  height: 100%;
  flex: 1;
  object-fit: cover;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer h2 {
  font-size: 1.4rem;
}

footer h1 {
  font-size: 0.9rem;
  font-weight: 200;
}

footer button {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 1rem;
  transition-duration: 200ms;
  cursor: pointer;
}

footer button i {
  font-size: 1.5rem;
}
footer button:hover {
  opacity: 0.7;
}

.bgGradient {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(to top, #060315, rgba(255, 255, 255, 0));
}

.sideBar {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
.bgOverlay {
  position: absolute;
  inset: 0;
  background: #060315;
  opacity: 0.6;
}

.sideBarContents{
  position: relative;
  z-index: 15;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto;
  height: 100%;
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  background: #060315;
}

.sideBarContents h2 {
  font-weight: 200;
  font-size: 1.4rem;
}

.sideBarContents div {
  flex: 1;
}

.sideBarContents button {
  background: transparent;
  color: white;
  border: none;
  outline: none;
  margin-right: auto;
  font-size: 1.5rem;
  cursor: pointer;
  transition-duration: 200ms;
  padding: 1rem 0;
}

.sideBarContents button:hover{
  opacity: 0.7;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.descriptionTitle {
  font-size: 1.1rem;
  font-weight: 200;
}

.loadingState{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.loadingState i{
  opacity: 0.2;
  font-size: 3rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 640px) {
  .sideBar{
    position: relative;
    inset: unset;
    min-width: 30%;
    max-height: 100vh;
    box-shadow: 0 0 40px 1px #060315;
  }

  .sideBarContents {
    width: 100%;       
    margin-left: 0;
    padding-right: 1rem;    
    overflow-y: auto;   
  }

  .bgOverlay {
    right: 0;
    left: unset;
    width: 100vw;
  }
}
